@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.clear：after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

input {
  outline: 0;
  border: none;
}

.detail-wrap {
  width: 1200px;
  min-height: 500px;
  margin: 20px auto 15px;
  overflow: visible;
}

.detail-wrap .detail {
  overflow: hidden;
}

.detail-wrap .detail .detail-page {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l {
  width: 1040px;
  float: left;
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf {
  float: left;
  width: 400px;
  height: 511px;
  margin-top: 20px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .fd-box {
  width: 400px;
  height: 400px;
  position: relative;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .fd-box .minimg {
  position: relative;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .fd-box .minimg .fd {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  height: 200px;
  background: url(../img/shubiao.png) no-repeat;
  cursor: move;
  display: none;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .fd-box .maximg {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .fd-box .maximg img {
  position: absolute;
  left: 0;
  top: 0;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .imgdetails ul li {
  padding-top: 10px;
  padding-right: 8px;
  float: left;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .imgdetails ul li a {
  display: block;
  border: 2px solid transparent;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-lf .imgdetails ul li a.active {
  border-color: #cf2a32;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg {
  float: right;
  width: 610px;
  margin: 20px 0 0 30px;
  color: grey;
  font-size: 12px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-title {
  margin-bottom: 10px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-title p {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #3d3d3d;
  line-height: 26px;
  vertical-align: text-top;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-title p i {
  display: inline-block;
  padding: 0 2px;
  font-size: 12px;
  line-height: 16px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-title p i:nth-of-type(1) {
  border: 1px solid #cf2a32;
  color: #cf2a32;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-title p i:nth-of-type(2) {
  border: 1px solid #31c19e;
  color: #31c19e;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-tags {
  overflow: hidden;
  margin-bottom: 15px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-tags span {
  float: left;
  margin-right: -5px;
  margin-left: 15px;
  margin-top: 2px;
  letter-spacing: 2em;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-tags ul {
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-tags ul li {
  float: left;
  border: 1px solid #ddd;
  margin-right: 7px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-tags ul li a {
  color: #333;
  padding: 1px 6px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-des {
  background: -webkit-linear-gradient(0deg, #E60A40, #CD0989);
  padding: 5px 15px;
  color: #fff;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-des i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../../img/qushi.png) no-repeat;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-des em {
  font-size: 18px;
  margin-right: 10px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-des span {
  font-size: 12px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price {
  height: 80px;
  line-height: 50px;
  background: url(../../../img/price_bg.png);
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price p {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price p i {
  letter-spacing: 2em;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price p span {
  font-size: 26px;
  font-weight: 700;
  color: #d12631;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price div {
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price div i {
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url(../../../img/icon_corner.png);
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .good-price div span {
  display: inline-block;
  color: #fff;
  background: #ff7300;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec {
  padding: 15px 0 15px 14px;
  border-bottom: 1px solid #ededed;
  height: 24px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec span {
  float: left;
  margin-right: 15px;
  line-height: 20px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec ul {
  float: left;
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec ul li {
  float: left;
  height: 24px;
  line-height: 32px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec ul li:nth-of-type(2) {
  margin-left: 52px;
  margin-right: 52px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec ul li i {
  vertical-align: baseline;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .more-spec ul li em {
  margin-left: 12px;
  vertical-align: baseline;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .record-sale {
  padding: 15px 0 15px 14px;
  border-bottom: 1px solid #ededed;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .record-sale ul {
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .record-sale ul li {
  float: left;
  margin-left: 24px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .record-sale ul li:nth-of-type(1) {
  margin-left: 0;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .record-sale ul li em {
  margin-left: 12px;
  color: #CF2A32;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku {
  padding: 10px 0 15px 15px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-color,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-size {
  line-height: 50px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-color span,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-size span {
  display: inline-block;
  margin-right: 18px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-color label,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-size label {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  margin-top: 10px;
  padding: 0 5px;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  color: #333;
  min-width: 26px;
  line-height: 30px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-color input[type="radio"],
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-size input[type="radio"] {
  display: none;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity {
  overflow: hidden;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity span,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity div {
  float: left;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-title {
  display: inline-block;
  margin-right: 18px;
  line-height: 50px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-selec {
  margin-top: 10px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-selec i,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-selec input {
  display: inline-block;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-selec i {
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../../../img/icon_minus.png);
  border: 1px solid #ddd;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .num-selec input {
  width: 61px;
  height: 26px;
  vertical-align: middle;
  line-height: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .sku .sku-quntity .recomend-hsf {
  display: inline-block;
  line-height: 26px;
  width: 70px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 0 5px;
  border: 1px solid #467fdb;
  color: #467fdb;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .cartbuy {
  padding-left: 15px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .cartbuy .btn-buy,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .cartbuy .btn-cart {
  float: left;
  display: block;
  width: 25%;
  height: 45px;
  border: 1px solid #cf2a32;
  background: #cf2a32;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}

.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .cartbuy .btn-buy:hover,
.detail-wrap .detail .detail-page .d-page-l .d-page-l-rg .cartbuy .btn-cart:hover {
  opacity: 0.8;
}

.detail-wrap .detail .detail-page .d-page-r {
  float: right;
  margin-left: 20px;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-title {
  text-align: center;
  height: 20px;
  margin-top: 13px;
  margin-left: 15px;
  color: #999;
  line-height: 20px;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-cont {
  margin-left: 15px;
  margin-top: 10px;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-cont a {
  display: block;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-cont a img {
  max-width: 110px;
  max-height: 110px;
  display: block;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-cont span {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-tab {
  margin-top: 10px;
  margin-left: 15px;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-tab i {
  display: inline-block;
  width: 55px;
  height: 30px;
  cursor: pointer;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-tab .tab-up {
  background: url(../img/icon_upcurr.png) no-repeat;
}

.detail-wrap .detail .detail-page .d-page-r .new-recom .new-tab .tab-down {
  background: url(../img/icon_down.png) no-repeat;
}

.detail-wrap .detail .youlike {
  overflow: hidden;
}

.detail-wrap .detail .youlike .l-title {
  overflow: hidden;
  height: 40px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #e6e6e6;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 12px;
}

.detail-wrap .detail .youlike .l-title .guss {
  float: left;
}

.detail-wrap .detail .youlike .l-title .l-pageturn {
  float: right;
}

.detail-wrap .detail .youlike .l-title .l-pageturn > div {
  display: inline-block;
}

.detail-wrap .detail .youlike .l-title .l-pageturn .pre-page,
.detail-wrap .detail .youlike .l-title .l-pageturn .next-page {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.detail-wrap .detail .youlike .l-title .l-pageturn .pre-page {
  background: url(../img/left_gray.png) no-repeat;
}

.detail-wrap .detail .youlike .l-title .l-pageturn .next-page {
  background: url(../img/right_black.png) no-repeat;
}

.detail-wrap .detail .youlike .like-cont {
  padding: 20px 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
}

.detail-wrap .detail .youlike .like-cont ul {
  overflow: hidden;
}

.detail-wrap .detail .youlike .like-cont ul li {
  float: left;
  margin-left: 17px;
}

.detail-wrap .detail .youlike .like-cont ul li a img {
  display: block;
  max-width: 180px;
  max-height: 180px;
}

.detail-wrap .detail .youlike .like-cont ul li p {
  line-height: 30px;
  text-align: center;
}

.detail-wrap .detail .good-details {
  padding-top: 20px;
}

.detail-wrap .detail .good-details .good-details-list {
  float: left;
  width: 222px;
  border: 1px solid #ededed;
}

.detail-wrap .detail .good-details .good-details-list .pis_title {
  width: 200px;
  height: 38px;
  border-bottom: 1px solid #ededed;
  font-size: 14px;
  color: #333;
  line-height: 38px;
  overflow: hidden;
  padding: 0 10px;
  background-color: #fafafa;
  text-align: center;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list {
  margin-left: 13px;
  margin-top: 20px;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list .mt10 {
  margin-top: 10px;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list .xp_sort .pis_tag {
  font-weight: 700;
  text-align: left;
  color: #333;
  margin-bottom: 6px;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list .xp_sort .pis_list {
  overflow: hidden;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list .xp_sort .pis_list li {
  width: 69px;
  float: left;
  height: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  overflow: hidden;
}

.detail-wrap .detail .good-details .good-details-list .ps_nv_classify_list .xp_sort .pis_list li a {
  color: #333;
}

.detail-wrap .detail .good-details .good-details-imgs {
  float: right;
  width: 950px;
}

.detail-wrap .detail .good-details .good-details-imgs .imgs-title {
  height: 39px;
  line-height: 39px;
  background: #fff;
  border-bottom: 1px solid #cf2a32;
}

.detail-wrap .detail .good-details .good-details-imgs .imgs-title a {
  display: inline-block;
  height: 39px;
  width: 148px;
  border-bottom: none;
  border-left: 1px solid #cf2a32;
  border-right: 1px solid #cf2a32;
  border-top: 1px solid #ce0010;
  background: #cf2a32 !important;
  color: #fff;
  text-align: center;
}

.detail-wrap .detail .good-details .good-details-imgs .imgs-show {
  margin-top: 15px;
  padding-left: 20px;
}

.detail-wrap .detail .good-details .good-details-imgs .imgs-show > div img {
  display: block;
  margin: auto;
}

.cart-bg {
  position: absolute;
  z-index: 105;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.9;
  height: 100000px;
  background: #969696;
}

.cart-sku {
  position: fixed;
  left: 50%;
  margin-left: -304px;
  top: -20px;
  z-index: 106;
  width: 600px;
  min-height: 240px;
  background: #fff;
  border: 8px solid #454343;
}

.cart-sku .close {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 10px;
  top: 4px;
  font-size: 20px;
  text-align: center;
}

.cart-sku .cart-sku-outer {
  padding: 10px;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-ul {
  height: 30px;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-ul li {
  width: 160px;
  line-height: 30px;
  float: left;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-title {
  border-bottom: 3px solid #7B7B7B;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll {
  overflow-y: scroll;
  height: 350px;
  font-size: 12px;
  background: #f9f9f9;
  color: #000;
  border-bottom: 1px solid #eee;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check {
  padding-top: 3px;
  height: 30px;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li {
  height: 30px;
  margin-left: 10px;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) {
  margin-left: 0;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) span,
.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) input {
  float: left;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) span {
  display: inline-block;
  width: 27px;
  height: 27px;
  vertical-align: middle;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) .minus {
  background: #E8E8E8 url(../img/minus.png) no-repeat;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) .plus {
  background: #E8E8E8 url(../img/plus.png) no-repeat;
}

.cart-sku .cart-sku-outer .cart-sku-top .sku-scroll div .sku-check li:nth-of-type(3) input {
  text-align: center;
  width: 50px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.cart-sku .cart-sku-outer .cart-sku-bot {
  border-top: 1px solid #eee;
}

.cart-sku .cart-sku-outer .cart-sku-bot .all-sum {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}

.cart-sku .cart-sku-outer .cart-sku-bot .all-sum span,
.cart-sku .cart-sku-outer .cart-sku-bot .all-sum input {
  vertical-align: middle;
}

.cart-sku .cart-sku-outer .cart-sku-bot .all-sum input {
  width: 40px;
  line-height: 20px;
  text-align: center;
}

.cart-sku .cart-sku-outer .cart-sku-bot .all-sum .sum {
  display: inline-block;
  width: 60px;
  border: 1px solid #ccc;
  padding: 0 5px;
  text-align: right;
}

.cart-sku .cart-sku-outer .cart-sku-bot .cart-add {
  margin-top: 15px;
  text-align: right;
  line-height: 30px;
}

.cart-sku .cart-sku-outer .cart-sku-bot .cart-add input {
  height: 30px;
  font-size: 15px;
  background: #ae1023;
  border-color: #ae1023;
  border-bottom: solid 1px #ae1023;
  color: #fff;
  padding: 0 25px 0 21px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-weight: 800;
  vertical-align: middle;
}
